body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#regcont {
  display: none;
}
#regcont.show {
  display: block;
}
#map {
  display: none;
}
#map.show {
  display: block;
}
#map ul li {
  display: inline;
  width: 40px;
  padding: 5px;
}
#map ul li.link {
  cursor: pointer;
  text-decoration: underline;
}
