body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  
#regcont
	display:none
	
#regcont.show
		display: block;

#map
	display:none
	
	&.show
		display: block;
	
	ul
		li 
			display: inline
			width: 40px
			padding: 5px
		
			&.link
				cursor: pointer
				text-decoration: underline
